In [49]:
pip install keras

Requirement already satisfied: keras in e:\softwares\anaconda3\lib\site-packages (2.6.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from pycaret.classification import *
from pycaret.utils import check_metric

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [50]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Activation
from keras.models import load_model

ImportError: cannot import name 'get_config' from 'tensorflow.python.eager.context' (E:\Softwares\anaconda3\lib\site-packages\tensorflow\python\eager\context.py)

In [24]:
df=pd.read_csv("./dataset/gemini_BTCUSD_day.csv")

In [25]:
df.head

<bound method NDFrame.head of                   Date  Symbol      Open      High       Low     Close  \
0     08-10-2015 04:00  BTCUSD      0.00    245.00      0.00    243.60
1     09-10-2015 04:00  BTCUSD    243.60    249.97    243.60    245.51
2     10-10-2015 04:00  BTCUSD    245.51    246.30    244.60    246.30
3     11-10-2015 04:00  BTCUSD    246.30    249.50    245.96    248.98
4     12-10-2015 04:00  BTCUSD    248.98    248.98    245.75    245.75
...                ...     ...       ...       ...       ...       ...
2037  06-05-2021 04:00  BTCUSD  56900.44  58465.93  55200.00  55762.28
2038  07-05-2021 04:00  BTCUSD  55762.28  58750.00  55292.22  58187.76
2039  08-05-2021 04:00  BTCUSD  58187.76  59560.00  57583.09  58545.16
2040  09-05-2021 04:00  BTCUSD  58545.16  59481.34  56275.13  59407.78
2041  10-05-2021 04:00  BTCUSD  59407.78  59584.99  53434.31  55696.01

           Volume
0       34.754703
1       61.587068
2       30.870549
3       22.747091
4       71.047743
...           ...
2037  1494.897855
2038  1591.200547
2039  1692.076680
2040  1710.375935
2041  2206.490182

[2042 rows x 7 columns]>

In [26]:
del df['Date']
del df['Symbol']

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2042 entries, 0 to 2041
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    2042 non-null   float64
 1   High    2042 non-null   float64
 2   Low     2042 non-null   float64
 3   Close   2042 non-null   float64
 4   Volume  2042 non-null   float64
dtypes: float64(5)
memory usage: 79.9 KB

In [28]:
df.describe()

               Open          High           Low         Close        Volume
count   2042.000000   2042.000000   2042.000000   2042.000000   2042.000000
mean    8561.651773   8837.150305   8279.614647   8588.857561   3458.185883
std    11681.263939  12082.504260  11252.597488  11726.184537   4108.326925
min        0.000000    245.000000      0.000000    243.600000      0.000000
25%     1062.882500   1092.900000   1036.675000   1068.575000   1104.014615
50%     6434.785000   6574.005000   6341.110000   6439.125000   2098.158879
75%     9576.095000   9783.575000   9290.000000   9581.242500   4130.832240
max    63773.180000  64900.000000  62045.000000  63773.180000  54142.433520

In [29]:
df.columns.values

array(['Open', 'High', 'Low', 'Close', 'Volume'], dtype=object)

In [30]:
n_train_rows = int(df.shape[0]*.8)-1

In [31]:
train = df.iloc[:n_train_rows, :]
test = df.iloc[n_train_rows:, :]

In [32]:
print(train.shape)
print(test.shape)

(1632, 5)
(410, 5)

In [33]:
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(train.values)
test_set_scaled = sc.fit_transform(test.values)

In [34]:
steps = 50
x_train = []
y_train = []
x_test = []
y_test = []

In [35]:
for i in range(steps, training_set_scaled.shape[0]-steps):
    x_train.append(training_set_scaled[i-steps:i, :])
    y_train.append(training_set_scaled[i, :])

x_train, y_train = np.array(x_train), np.array(y_train)
print(x_train.shape)

(1532, 50, 5)

In [36]:
for i in range(steps, test_set_scaled.shape[0]):
    x_test.append(test_set_scaled[i-steps:i, :])
    y_test.append(test_set_scaled[i, :])

x_test, y_test = np.array(x_test), np.array(y_test)
print(x_test.shape)

(360, 50, 5)

In [38]:
train = setup(data = train, target = 'Close', session_id=123)

In [44]:
model = Sequential()

NameError: name 'Sequential' is not defined